<div class="modal-header">
  <p class="modal-title h4 font-weight-bold">{{ title }}</p>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form
  action=""
  [formGroup]="autorForm"
  (ngSubmit)="register(autorForm.value)"
  class="form-horizontal form-material"
  id="empleadoform"
  novalidate
>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            class="form-control form-control-sm"
            type="text" id="nombre"
            formControlName="nombre"
            placeholder="Nombre"
            [ngClass]="{'is-invalid': autorForm.get('nombre').touched && autorForm.get('nombre').invalid}"/>
          <div class="invalid-feedback">
            <div>Nombre es requerido</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" (click)="activeModal.close('Close click')">
      Cerrar
    </button>
    <button class="btn btn-info" [disabled]="autorForm.invalid || isLoading">
      Guardar
    </button>
  </div>
</form>
