/* You can add global styles to this file, and also import other style files */
@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
/* @import '~admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/plugins/jqvmap/jqvmap.min.css'; */
@import '~admin-lte/dist/css/adminlte.min.css';
@import '~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css';
/* @import '~admin-lte/plugins/daterangepicker/daterangepicker.css';
@import '~admin-lte/plugins/summernote/summernote-bs4.css'; */

.table thead{
  color: #2b92b5 !important;
  /* background-color: white !important; */
  /* // border: none; */
  /* border: solid 1px !important;
  border-color: #f2f2f2 !important; */
}

.table tbody{
  /* border: solid 1px !important;
  border-color: #f2f2f2 !important; */
  /* vertical-align: middle !important; */
  /* font-size: 0.8rem !important; */
}
