<div class="modal-header">
  <p class="modal-title h4 font-weight-bold">{{ title }}</p>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form
  action=""
  [formGroup]="prestamoForm"
  (ngSubmit)="register(prestamoForm.value)"
  #ngForm="ngForm"
  class="form-horizontal form-material"
  id="empleadoform"
  novalidate
  enctype="multipart/form-data"
>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="nombres">Nombres</label>
          <input
            class="form-control form-control-sm"
            type="text" id="nombres"
            formControlName="nombres"
            placeholder="Nombres"
            [ngClass]="{'is-invalid': prestamoForm.get('nombres').touched && prestamoForm.get('nombres').invalid}"/>
          <div class="invalid-feedback">
            <div>Los Nombres es requerido</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input
            class="form-control form-control-sm"
            type="text" id="apellidos"
            formControlName="apellidos"
            placeholder="Apellidos"
            [ngClass]="{'is-invalid': prestamoForm.get('apellidos').touched && prestamoForm.get('apellidos').invalid}"/>
          <div class="invalid-feedback">
            <div>Los Apellidos es requerido</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="ci">C.I.</label>
          <input
            class="form-control form-control-sm"
            type="number" id="ci"
            formControlName="ci"
            placeholder="Ci"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="curso">Curso</label>
          <input
            class="form-control form-control-sm"
            type="number" id="curso"
            formControlName="curso"
            placeholder="Curso"
            [ngClass]="{'is-invalid': prestamoForm.get('curso').touched && prestamoForm.get('curso').invalid}"/>
          <div class="invalid-feedback">
            <div>Curso es requerido</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <label for="">Libros a Prestarse</label>
      <div class="col-md-12" *ngFor="let libro of librosReservados; let i = index">
        <div class="card bg-info" style="padding: 0.3rem;">
          <div class="row">
            <div class="col-2">
              <img [src]="[url + libro.imagen]" class="img-circle elevation-2" style="height: 2.2rem; width: 2.2rem;">
            </div>
            <div class="col-9">
              <p class="card-text text-center" style="font-size: 0.9rem !important;"><b>{{ libro.codigo }}</b><br>{{ libro.titulo }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" (click)="activeModal.close('Close click')">
      Cerrar
    </button>
    <button class="btn btn-info" [disabled]="prestamoForm.invalid || isLoading">
      Reservar
    </button>
  </div>
</form>
